site_name: horde_model_reference Documentation

plugins:
- search
- mermaid2:
    version: '10.1.0'
    arguments:
        theme: 'dark'
        themeVariables:
            darkMode: true
            fontSize: 24
            primaryColor: '#ff0000'

- awesome-pages
- autorefs
- mkdocstrings:
    default_handler: python_xref
    handlers:
      python_xref:
        paths: [src] 
        inventories:
        - https://docs.python.org/3/objects.inv
        options:
          members_order: source
          docstring_section_style: list
          show_if_no_docstring: true
          separate_signature: true
          show_signature_annotations: true
          inherited_members: true
          relative_crossrefs: true
          filters: []

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom

theme:
  name: material
  language: en
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css

watch:
  - docs/
  - mkdocs.yml