name: horde_model_reference Main Tests

on:
  push:
    branches:
      - main
    paths:
      - '**.py'
      - '**.md'
      - '**.json'
      - '.github/workflows/maintests.yml'
      - '.github/workflows/prtests.yml'
      - '.github/workflows/release.yml'
      - 'uv.lock'
      - 'pyproject.toml'
jobs:
  no_extra_fields:
    env:
      AIWORKER_CACHE_HOME: ${{ github.workspace }}/.cache
      HORDELIB_CI_ONGOING: "1"
      TESTS_ONGOING: "1"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v3
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Check that no extra fields are present
        run: uv run pytest -k "test_scripts" # Enabled by HORDELIB_CI_ONGOING

  build:
    env:
      AIWORKER_CACHE_HOME: ${{ github.workspace }}/.cache
      TESTS_ONGOING: "1"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v3
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests
